---
import CustomTitle from "../components/CustomTitle.astro";
import WordPress from "../components/WordPress.astro";
import MainLayout from "../layouts/MainLayout.astro";



---

<MainLayout titulo="Acerca de">
		
		<h1>About</h1>
		<CustomTitle title="Acerca de Astro" />
		<WordPress />
	</MainLayout>
	<style is:global>
		h1 {
			color: red;
		}
	</style>